@model IEnumerable<ToDo.Models.Project>

@{
    // Layout = null;
}

<h1 class="display-4">My Projects</h1>
<br />

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                Team name
            </th>
            <th>
                Project name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="w-50">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="w-25">
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary m-1" })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary m-1" })
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger m-1" })
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
