@model ToDo.Models.Team

@{
    // Layout = null;
}

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Members
        </dt>
        <dd>
            @Html.ListBox("Id", new SelectList(Model.ApplicationUsers, "Id", "UserName"), htmlAttributes: new { @class = "listbox-custom" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        @{
            foreach (var proj in Model.Projects)
            {
            <text>@proj.Name</text>
            }
         }
    </dl>
</div>
<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
