@model IEnumerable<ToDo.Models.Team>

@{
    // Layout = null;
}

<h1 class="display-4">My Teams</h1>
<br />

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Members
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ListBox("Id", new SelectList(item.ApplicationUsers, "Id", "UserName"), htmlAttributes: new { @class = "listbox-custom" })
            </td>
            <td class="w-25">
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary m-1" })
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary m-1" })
                @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger m-1" })
                }
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</p>
